:root{
  --background-color: #EAEAEA;
  --primary-color: #EA1D25;
  --secondary-color: #FFFFFF;
  --text-color: #5c6369;
  --text-color-light: rgba(92,99,105, 0.45);
  --positive-variation-color: #87d883;
  --negative-variation-color: #F55A5F;
}

body{
  background-image: url("./assets/logoSantander.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 80%;


}

* {
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--background-color);

}
